@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

body {
    font-family: "Fraunces", serif;
    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
p
{
    font-size: 14px;
    font-family: 'Monserrat', sans-serif;
}

h1
{
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: 1;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

h1,
p 
{
    margin-bottom: 1em;
}

img 
{
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.container {
    border-radius: 10px;
    max-width: 666px;
    display: flex;
    background-color: white;
    margin: 0 1rem;
}

.imgPresentation {
    width: 50%;
}

.imgPresentation img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 550px) {
    .container {
        flex-direction: column;
    }
    .imgPresentation img {
        border-top: ;
    }
}